@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville&display=swap');

* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

body {
   font-family: 'Libre Baskerville', serif;
}

.bg-dark {
   background-color: black !important;
}

.navbar .navbar-nav {
   padding-top: 35px;
   margin-right: 15px;
   display: flex;
   justify-content: center;
   align-items: center;
}

.navbar .navbar-collapse {
   text-align: center;
   justify-content: center;
}

.nav-link {
   color: #F29422 !important;
}

.navbar-toggler {
   background-color: black;
}

.container {
   display: grid;
   grid-template-columns: repeat(12, 1fr);
   grid-template-rows: repeat(100px, auto);
   gap: 10px;
}

.top {
   grid-column: 2 / 13 ;
}